@charset "utf-8";

/* ########## 全体指定 ########## */
* {
  margin: 0;
  padding: 0;
}

html {
  font-family: YuGothic, Meiryo, "Hiragino Kaku Gothic Pro", sans-serif;
}

body {
  width: 100%;
  min-width: 850px;
  -webkit-text-size-adjust: 100%;
}

.wrap {
  overflow: hidden;
}

a {
  text-decoration: none;

}


/* ########## ヘッダー ########## */

.header {
  background-color: rgba(0, 0, 0, 0.7);
  height: 75px;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
}

nav h1 {
  float: left;
  font-size: 22px;
  font-family: "Kaushan Script", Script, cursive;
  padding-left: 20px;
  padding-top: 8px;
  width: 100%;
}

nav h1 a {
  color: rgba(255, 255, 255, 0.9);
  
}

nav h1 a:hover {
  text-decoration: none;
}

nav ul {
  float: left;
  padding: 5px 0 0 15px;
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin: 0px 25px;
}

nav li a {
  color: rgba(255, 255, 255, 0.9);
  font-size: 14px;
}

nav li a:hover {
  color: RoyalBlue;
  text-decoration: none;
}


/* ### 992 px以上 ### */
@media (min-width: 992px) {
.header {
  height: 62px;
}
  
nav h1 {
  float: left;
  font-size: 29px;
  padding-left: 20px;
  padding-top: 12px;
  width: 25%;
}

nav ul {
  padding: 30px 0 0 30px;
}

nav ul li {
  margin: 0px 35px;
}

nav li a {
  font-size: 16px;
}
}


/* ########## トップ画面 ########## */

.Top {
  height: 670px;
  background-image: url("images/top_img.jpg");  
  background-color: white;
  background-size: 100% auto; 
  background-repeat: no-repeat;
}

.Top p#motto {
  padding-top: 25%;
  font-size: 40px;
  color: LightGray;
  text-align: center;

}



/* ### 992 px以上 ### */
@media (min-width: 992px) {
.Top {
  height: 810px;
}

.Top p#motto {
  font-size: 60px;
}
}
  

/* ########## プロフィール画面 ########## */

.Profile h2 {
  font-size: 45px;
  text-align: center;
  padding-top: 5px;
}

.Profile_left h3 {
  float: left;
  font-size: 25px;
  text-align: center;
  padding-bottom: 10px;
  width: 100%;
}

.Profile_left p {
  text-align: center;
}

.Profile_left img {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.Career {
  width: 65%;
  margin: 0 auto;
}

.Profile_right h3 {
  font-size: 25px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 15px;
}

.Profile_right p {
  text-align: center;
  margin: 0 auto;
}

.Profile_right img {
  text-align: center;
  width: 65%;
  margin: 0 auto;
}

/* ### 992 px以上 ### */
@media (min-width: 992px) {
.Profile {
  height: 710px;
}


.Profile_left img {
  width: 60%;
}

.Career {
  width: 75%;
}
  

.Profile_right img {
  text-align: center;
  width: 95%;
  margin: 0 auto;
}
}


/*########## Works画面 ########## */

.Works {
  height: 600px;
  background-image: url("images/works.jpg");  
  background-size: 100% auto; 
  background-repeat: no-repeat;
}

.Works h2 {
  font-size: 45px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 30px;  
}

.Work > .thumbnail {
  margin-left: 20px;
  margin-right: 20px;
}

.caption h3 {
  font-size: 20px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.caption p {
  font-size: 16px;
  text-align: center;
  padding-bottom: 10px;
}

/* ### 992 px以上 ### */
@media (min-width: 992px) {
.Works {
  height: 700px;
}  

.Works h2 {
  font-size: 45px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 40px;  
}

.Work > .thumbnail {
  margin-left: 20px;
  margin-right: 20px;
}

.caption h3 {
  font-size: 24px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.caption p {
  font-size: 18px;
  text-align: center;
  padding-bottom: 13px;
}
}

/* ########## Blog画面 ########## */
.Blog {
  height: 950px;
}

.Blog h2 {
  font-size: 45px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 5px;  
}


.Blog_left p {
  text-align: center;
  margin: 0 auto;
  padding-top: 40px;

}

.Blog_left p img {
  width: 60%;
  margin: 0 auto;
  padding-bottom: 20px;
}

.Blog_right h3 {
  font-size: 20px;
  padding-top: 20px;
  padding-left: 30px;
}

.Blog_right p#blog_intro {
  font-size: 18px;
  width: 85%;
  padding-top: 10px;
  padding-left: 30px;
}

.Blog_right li {
  font-size: 16px;
  line-height: 35px;
  padding-left: 30px;
}

/* ### 992 px以上 ### */
@media (min-width: 992px) {
.Blog {
  height: 710px;
}
  
.Blog_left p img {
  width: 90%;
  margin: 0 auto;
}

.Blog_right h3 {
  font-size: 25px;
  padding-top: 20px;
}

.Blog_right p#blog_intro {
  font-size: 20px;
  width: 85%;
  padding-top: 10px;
}

.Blog_right li {
  font-size: 16px;
  line-height: 48px;
}
}


/* ########## Vision画面 ########## */

.Visions {
  height: 470px;
  position: relative;
  background-color: WhiteSmoke;
  background-image: url("images/vision.jpg");  
  background-size: 100% auto; 
  background-repeat: no-repeat;
}

.Visions h2 {
  font-size: 30px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.Visions h3 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 25px;
}

  
.Vision > .thumbnail {
  background-color: rgba(255, 255, 255, 0.4);
  margin-left: 50px;
  margin-right: 50px;
}


.Vision > .thumbnail h4 {
  font-size: 20px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 10px;
}

.Vision > .thumbnail h5 {
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 1.8;  
}

/* ### 992 px以上 ### */
@media (min-width: 992px) {
.Visions {
  height: 600px;
}
  
.Visions h2 {
  font-size: 45px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

.Visions h3 {
  font-size: 33px;
  text-align: center;
}

.Vision > .thumbnail {
  background-color: rgba(255, 255, 255, 0.4);
  margin-left: 60px;
  margin-right: 60px;
}


.Vision > .thumbnail h4 {
  font-size: 24px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 15px;
}

.Vision > .thumbnail h5 {
  font-size: 19px;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 2.0;  
}
}